body
{
  background:#2F4F4F url(images/bg.png) repeat-x;  
}

#wrap
{
  width:700px;
  margin:0px auto 15px auto;
  font-familty:Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
}

/* Header */
#header 
{
  height:242px;
  margin:0px auto 15xp auto;
  font-familty:Verdana, Arial, Helvetica, sans-serif;
  color: ##7FFFD4;
}

#topbar
{
  height:78px;
  color: #00BFFF;
}

#topmenu {
  display:block;
  list-style:none;
  padding:0 0px 278px;
  float: right;
  width: 415px;
}

#footer {
  height:242px;
  color: #8A2BE2;
}


